.left-side {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.add-transactions {
    padding: 3rem 0;
}
.transactions {
    border: 1px solid #d1cdcd;
    border-radius: 20px;
    padding: 2rem;
}
.transactions h4 {
    text-decoration: underline;
}