.budget-tracker{
  display: flex;
  justify-content: space-around;
}
.left-side {
    display: flex;
    flex-direction: column;
    align-items:center;
}
.add-transactions {
    padding: 3rem 0;
}
.transactions {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  h4 {
    text-align: center;
    margin-bottom: 20px;
  }

  .transactions table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactions th, .transactions td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  
  .transactions th {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  .transactions tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .transactions tr:hover {
    background-color: #f1f1f1;
  }
  .transactions svg {
    color: rgb(253, 0, 0);
  }
  .filters label {
    padding: 1rem;
  }

  .chart-container {
    max-width: 800px;
    margin: 5rem auto;
    padding: 20px;
    background: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .chart-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .chart-filters label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
  }
  